In [1]:
## This workbook will have the class and the functions to calculate the metrices

In [16]:
from datetime import datetime
import yfinance as yf
import pandas as pd

In [17]:
class LoadData:
    """This class will load data from both yfinance and the excelbook"""
    def __init__(self, stock):
        self.stock = stock
        self.start_date = '2014-01-01'
        self.end_date = datetime.today().strftime('%Y-%m-%d')

    def download_yfinace_data(self, stock):
        yf_data = yf.download(self.stock, start=self.start_date, end = self.end_date)
        yf_data = yf_data.resample('D').ffill()
        yf_data = pd.DataFrame(yf_data['Close'])
        return yf_data

In [19]:
# Test
data = LoadData('INFY.NS')
data.download_yfinace_data('INFY.NS')

[*********************100%%**********************]  1 of 1 completed

                  Close
Date
2014-01-01   433.500000
2014-01-02   435.068756
2014-01-03   445.643738
2014-01-04   445.643738
2014-01-05   445.643738
...                 ...
2024-07-29  1871.099976
2024-07-30  1877.150024
2024-07-31  1868.250000
2024-08-01  1852.599976
2024-08-02  1821.199951

[3867 rows x 1 columns]

In [ ]:
# Class to read data from the excel